.loan-form{
    text-align: center;
}


hr{
    width: 40%;
}

/*SELECTION OPTION*/
.selection{
    width: 410px; 
    border-radius: 5px; 
    margin-right: 5px; 
    font-size: 20px;
    padding: 5px;
}


/*CREDIT SCORE OPTION*/
.Cscore-label{
    margin-right:43px;
}

.Cscore-Field{
    margin-bottom: 1%;
}
.textFields{
    width: 250px;
    padding: 7px;
    border-radius: 5px;
    margin-top: 7px;
}

/* LOAN PURPOSE(TEXT AREA) */
.loan-purpose{
   margin-bottom: 7%;
}

.labelTextarea {
    float: left;
    margin-left: 33%;
    margin-top: 2%;
}

.textarea {
    float: right;
    height: 80px;
    width: 191px;
    margin-right: 35%;
    border-radius: 5px;
}

/* LOAN AMOUNT AREA*/
.loanLabel{
    float: left;
    margin-left: 31%;
}

.loanArea{
    float: right;

    border-radius: 5px;
    padding-top: 10px;
    margin-right: 35%;
}

/*FOR LABELS*/
.labelField{
    font-size: 18px; 
}

/*FOR BUTTONS*/
.btn-reset{
    padding: 10px 40px;
    background: rgb(255, 0, 0);
    color: wheat;
    border-radius: 5px;
    margin-right: 13%;
    font-weight: bold;
    font-size: large;
}
.btn-apply{
    padding: 10px 40px;
    background: green;
    color: wheat;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
}

/* LOAN APPLICATION STATUS */
.loanStatus{
    height: 100%;
    width: 30%;
    border: 1px solid blanchedalmond;
    margin-top: 3%;
    margin-left: 35%;
    border-radius: 3px;
    text-align: left;
    text-transform: capitalize;
}

.display{
    display: none;
}